<!DOCTYPE html>
<html>
    <head>
        <h1>Check Out Amazing Food</h1>
        <style>
                                * {
                                        box-sizing: border-box;
                                  }
                   .column {
                    float: left;
                    width: 23.33%;
                    padding: 5px;
                    }

                    .row::after {
                    content: "";
                    clear: both;
                    display: table;
                    }
        </style>
    </head>
    <body>
        <p>Amazing food at your doorstep</p>
        <p></p>
        <p></p>
        <p></p>
        <ul>
            <li>Benefit of feature</li>
            <li>Benefit of feature</li>
            <li>Benefit of feature</li>
        </ul>
        <button style="color:black;">Order Now</button>
       <p></p>
       <h1><em>Trending Food</em></h1>
       <div class="row">
       <div class="column"><img src="https://recipes.timesofindia.com/thumb/52467119.cms?width=200&height=200"/></div>
       <div class="column"><img src="https://static.toiimg.com/thumb/63841432.cms?width=200&height=200"/></div>
       <div class="column"><img src="https://www.recipefunnel.com/images/recipe/veg-manchurian-1629182469577.webp?compress=false" height="200" width="200"/></div>
       </div> 
       <h1><em>Discover New food</em></h1>
       <div class="row">
        <div class="column"><img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2019/02/fast-food-survey-1551361281.jpg" height="200" width="200"/></div>
        <div class="column"><img src="https://assets.vogue.in/photos/61d84b5b9db8964401d2b0e4/4:3/w_4095,h_3071,c_limit/15%20best%20multi-cuisine%20restaurants%20in%20Mumbai,%20New%20Delhi,%20Bengaluru,%20Kolkata%20and%20Goa.jpg" height="200" width="200"/></div>
        <div class="column"><img src="https://www.gffoodservice.com.au/content/uploads/2018/11/GMA0033-newfood-01@1x-1.jpg" height="200" width="200"/></div>
       </div>
        
       <div className='container-fluid  mt-4 mb-2 py-4 shadow-lg'style={{backgroundColor:'#ef6c00'}}>
        <div className='container '>
        <div className='row'>
            <div className='col-lg-3 mb-3'>
                <h4>QuickFood</h4>
                <ul className='list-unstyled'>
                    <li className='mb-2'><i className='bi bi-c-circle'></i> 2022-2022</li>
                    <li className='mb-2'>Privacy terms</li>
                    <li className='mb-2'>Delivery Compliancy</li>
                </ul>
                
            </div>
            <div className='col-6 col-lg-2 mb-3'>
                <h6>Product</h6>
                <ul className='list-unstyled'>
                    <li className='mb-2'>Product1</li>
                    <li className='mb-2'>Product2</li>
                    <li className='mb-2'>Product3</li>
                </ul>
                
            </div>
            <div className='col-6 col-lg-2 mb-3'>
                <h6>Team</h6>
                <ul className='list-unstyled'>
                    <li className='mb-2'>Member 1</li>
                    <li className='mb-2'>Member 2</li>
                    <li className='mb-2'>Member 3</li>
                </ul>
                
            </div>
            <div className='col-6 col-lg-2 mb-3'>
                <h6>City</h6>
                <ul className='list-unstyled'>
                    <li className='mb-2'>City 1</li>
                    <li className='mb-2'>City 2</li>
                    <li className='mb-2'>City 3</li>
                </ul>
                
            </div>
            <div className='col-6 col-lg-2 mb-3'>
                <h6>Countries</h6>
                <ul className='list-unstyled'>
                    <li className='mb-2'>Country 1</li>
                    <li className='mb-2'>Country 2</li>
                    <li className='mb-2'>Country 3</li>
                </ul>
                
            </div>
            
        </div>
        </div>
    </div>
</div>


    </body>
</html>
